<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
    <h2>Menu</h2>
  </div>
  <div class="navbar-menu">
    <!-- navbar start, navbar end -->
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/login">
        Login
      </a>
      <a class="navbar-item" routerLink="/signUp">
        SignUp
      </a>
    </div>
  </div>
</nav>
<div class="content">
  <section class="section">
    <router-outlet></router-outlet>
  </section>
</div>
